<!DOCTYPE html>
<html>
    <head>
        <title>사원리스트</title>
    </head>
    <body>
        <!-- 'data-' 는 커스텀 어트리뷰트를 선언하기위한 약속이다. -->
        <div id="grid" 
        data-headers="ui_num,ui_name,ui_dept,ui_active"
        data-lables="번호,사원명,부서,상태"></div>

        <script>
            var GridObj = function(id){
                var obj = document.querySelector(id);
                var headers = obj.getAttribute('data-headers').split(',');
                var lables = obj.getAttribute('data-lables').split(',');

                this.init = function(){
                    var html = '<table border="1">';
                    html += '<tr>';
                    for(var idx in lables){
                        html += '<th>' + lables[idx] + '</th>';
                    }
                    html += '</tr>';
                    html += '<tbody id="tBody"></tbody>';
                    html += '</table>';
                    obj.innerHTML = html;


                }
                
                this.select = function(url){
                    get(url,callback);
                    function callback(res){
                        res = JSON.parse(res);
                        var html = '';
                        for(var i in res){
                            html += '<tr>';
                            var row = res[i];
                            for(var header of headers){
                                html += '<td>' + row[header] + '</td>';
                            }
                            html += '</tr>';
                        }
                        document.querySelector('#tBody').innerHTML = html;
                        console.log(res);
                    }
                }

                var get = function(url, func){
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET',url);
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState==4){
                            if(xhr.status==200){
                                func(xhr.response);
                            }
                        }
                    }
                    xhr.send();
                }

            }
            var go = new GridObj('#grid');
            go.select('/users');
            go.init();
        </script>
    </body>
</html>