<!DOCTYPE html>
<html>
    <head>
        <title>사원리스트</title>
    </head>
    <style>
    .btns{
        text-align:right;
    }
    </style>
    <script src="/views/js/grid-obj.js"></script>
    <body>
        <!-- 'data-' 는 커스텀 어트리뷰트를 선언하기위한 약속이다. -->
        <div id="grid" 
        data-headers="ui_num,ui_name,ui_dept,ui_active"
        data-lables="번호,사원명,부서,상태"
        data-types="ro,ed,ed,ro"></div>
        <div class="btns">
            <button id="insert" onclick="addRow()">추가</button>
            <button id="save">저장</button>
        </div>
        <script>            
            var go = new GridObj('#grid');
            go.select('/users');
            go.init();

            function addRow(){
                go.addRow();
            }
        </script>
    </body>
</html>